# Disable directory browsing
Options All -Indexes


# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.
<IfModule mod_rewrite.c>
    DirectoryIndex preload.php
</IfModule>